@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@keyframes loadingAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity:0
  }
}
.dot-one {
  animation-name: loadingAnimation;
  animation-duration: 1.5s;
  animation-delay: -0.88s;
  animation-iteration-count: 10;
}

.dot-two {
  animation-name: loadingAnimation;
  animation-duration: 1.5s;
  animation-delay: -0.66s;
  animation-iteration-count: 10;
}
.dot-three {
  animation-name: loadingAnimation;
  animation-duration: 1.5s;
  animation-delay: -0.44s;
  animation-iteration-count: 10;
}
.dot-four {
  animation-name: loadingAnimation;
  animation-duration: 1.5s;
  animation-delay: -0.22s;
  animation-iteration-count: 10;
}
